$primary-color: rgba(237, 20, 61, 1);
$primary-color-d: rgba(173, 7, 40, 1);
$primary-color-t: rgba(237, 20, 61, 0.3);

$secondary-color: rgba(112, 128, 144, 1);
$secondary-color-md: rgba(86, 106, 126, 1);
$secondary-color-d: rgba(62, 84, 105, 1);
$secondary-color-t: rgba(112, 128, 144, 0.3);