.content-container {
    padding: 0 25px;
    h2,
    h3 {
        margin: 0.3em 0;
        position: relative;
        font-weight: normal;
        user-select: none;
        cursor: default;
    }
    h2 {
        padding-top: 12px;
        margin-bottom: 0em;
        + div {
            height: 0;
            width: 100%;
            overflow: hidden;
        }
        > span.header-arrow {
            cursor: pointer;
            float: left;
            margin-right: 5px;
            color: slategrey;
        }
    }
    .header--expanded {
        + div {
            height: auto;
            overflow: visible;
        }
        > span.header-arrow {
            transform: rotate(90deg);
        }
    }
}