.input-container {
    margin-bottom: 10px;
    .input-wrapper {
        position: relative;
        height: 30px;
        width: 100%;
        margin-bottom: 5px;
        i {
            padding: 3px 0;
            width: 5%;
            height: 100%;
            text-align: left;
            float: left;
            user-select: none;
            cursor: default;
        }
        input[type="text"] {
            width: 95%;
            height: 100%;
            border: 1px solid lightgrey;
            padding: 5px;
            outline: none;
            float: left;
            &.input--blank {
                background: $primary-color-t;
            }
            &:hover + .img-output {
                opacity: 1;
                visibility: visible;
            }
        }
        .img-output {
            position: absolute;
            top: 100%;
            right: 0;
            max-width: 50%;
            height: auto;
            z-index: 100;
            opacity: 0;
            transition: 0.1s all;
            visibility: hidden;
        }
    }
}