<!DOCTYPE html>
<html>
<head>
    <title>Homepage Generator</title>
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="assets/lib/vue.js"></script>
</head>

<body>
    <div class="container">
        <h1 @click="inputHTML(mod1)">
            <i class="material-icons">{{inputIcon}}</i>
            EB Homepage Generator
        </h1>
        <textarea class="html-container html-container--input" placeholder="Enter the current homepage HTML and click the header" @focus="$event.target.select()" :class="{'html-container--expanded': inputExpanded}" v-model="input"></textarea>
        <div class="content-container">
            <h2 @click="expandHeader" :class="{'header--expanded': headerExpanded}">
                Carousel<span class="header-arrow">&#x25ba;</span>
                <div class="filters" @click.stop="expandHeader">
                    <label :class="{'filter--selected': mod1.category.gbp}">
                        <span @click="selectFilter('gbp', mod1)">&pound;</span>
                    </label>
                    <label :class="{'filter--selected': mod1.category.usd}">
                        <span @click="selectFilter('usd', mod1)">&dollar;</span>
                    </label>
                    <label :class="{'filter--selected': mod1.category.eur}">
                        <span @click="selectFilter('eur', mod1)">&euro;</span>
                    </label>
                </div>
                <div class="filters" @click.stop="expandHeader">
                    <label :class="{'filter--selected': mod1.category.noncollector}">
                        <span @click="selectFilter('noncollector', mod1)">G</span>
                    </label>
                    <label :class="{'filter--selected': mod1.category.collector}">
                        <span @click="selectFilter('collector', mod1)">C</span>
                    </label>
                </div>
            </h2>
            <div>
                <div v-for="(input, number) in mod1.content">
                    <h3>Image {{number + 1}}</h3>
                    <form class="input-container">
                        <div class="input-wrapper">
                            <i class="material-icons">desktop_windows</i>
                            <input type="text" class="img-input" placeholder="Desktop Image (https://www... .jpg)" v-model="input.desktopImg">
                            <img class="img-output" :src="input.desktopImg" />
                        </div>
                        <div class="input-wrapper">
                            <i class="material-icons">smartphone</i>
                            <input type="text" class="img-input" placeholder="Mobile Image (https://www... .jpg)" v-model="input.mobileImg">
                            <img class="img-output" :src="input.mobileImg" />
                        </div>
                        <div class="input-wrapper">
                            <i class="material-icons">link</i>
                            <input type="text" placeholder="Link (https://www...)" v-model="input.link">
                        </div>
                        <div class="input-wrapper">
                            <i class="material-icons">text_fields</i>
                            <input type="text" placeholder="Alt Text" v-model="input.altText">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <input @click="outputHTML" type="button" class="button-submit" value="GIVE ME THE CODE">
        </div>
        <textarea class="html-container" @focus="$event.target.select()" :class="{'html-container--expanded': outputExpanded}">{{output}}</textarea>
    </div>


    <script type="text/javascript" src="assets/js/app.js"></script>
</body>
</html>