body {
  padding: 0;
  margin: 0;
  background: aliceblue;
  color: black;
  font-family: "Gill Sans MT", sans-serif; }

* {
  box-sizing: border-box; }

.container {
  margin: 20px auto;
  width: 90%;
  max-width: 700px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  overflow: hidden; }
  .container h1,
  .container input[type="button"] {
    border: 0;
    font-size: 1.5em;
    text-align: center;
    color: snow;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: normal;
    padding: 0.8em; }
  .container h1 {
    margin: 0;
    background: slategrey;
    cursor: default;
    user-select: none; }

.content-container {
  padding: 0 25px; }
  .content-container h2,
  .content-container h3 {
    margin: 0.3em 0;
    position: relative;
    font-weight: normal;
    user-select: none;
    cursor: default; }
  .content-container h2 {
    border-top: 1px solid lightgrey;
    padding-top: 12px;
    margin-bottom: 0em;
    cursor: pointer; }
    .content-container h2 + div {
      height: 0;
      width: 100%;
      overflow: hidden;
      transition: 0.2s; }
    .content-container h2 > span.header-arrow {
      float: left;
      margin-right: 5px;
      color: slategrey;
      transition: 0.1s; }
  .content-container .header--expanded + div {
    height: 520px; }
  .content-container .header--expanded > span.header-arrow {
    transform: rotate(90deg); }

.filters {
  margin-left: 10px;
  display: inline-block;
  float: right; }
  .filters label {
    display: inline;
    height: 27px;
    width: 27px;
    line-height: 27px;
    margin: 0 2px;
    text-align: center;
    color: snow;
    background: lightgrey;
    border-radius: 50%;
    display: inline-block;
    user-select: none;
    cursor: pointer;
    position: relative;
    transition: 0.1s all; }
    .filters label > span {
      text-transform: uppercase;
      font-size: 0.55em;
      position: absolute;
      width: 100%;
      left: 0; }
  .filters .filter--selected {
    background: #ed143d; }

.input-container {
  margin-bottom: 10px; }
  .input-container .input-wrapper {
    position: relative;
    height: 30px;
    width: 100%;
    margin-bottom: 5px; }
    .input-container .input-wrapper i {
      padding: 3px 0;
      width: 5%;
      height: 100%;
      text-align: left;
      float: left;
      user-select: none;
      cursor: default; }
    .input-container .input-wrapper input[type="text"] {
      width: 95%;
      height: 100%;
      border: 1px solid lightgrey;
      padding: 5px;
      outline: none;
      float: left; }
      .input-container .input-wrapper input[type="text"].input--blank {
        background: rgba(237, 20, 61, 0.3); }
      .input-container .input-wrapper input[type="text"]:hover + .img-output {
        opacity: 1;
        visibility: visible; }
    .input-container .input-wrapper .img-output {
      position: absolute;
      top: 100%;
      right: 0;
      max-width: 50%;
      height: auto;
      z-index: 100;
      opacity: 0;
      transition: 0.1s all;
      visibility: hidden; }

.button-submit {
  margin-top: 30px;
  width: 100%;
  background: #ed143d;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.1s all; }
  .button-submit:hover {
    background: #ad0728; }

.output-container {
  width: 100%;
  max-width: 100%;
  border: none;
  display: none;
  visibility: hidden;
  min-height: 0px;
  transition: min-height 0.5s; }
  .output-container.output-container--expanded {
    display: block;
    visibility: visible;
    min-height: 400px; }

/*# sourceMappingURL=styles.css.map */
