body {
  padding: 0;
  margin: 0;
  background: aliceblue;
  color: black;
  font-family: "Gill Sans MT", sans-serif; }

* {
  box-sizing: border-box; }

.hcContainer {
  margin: 20px auto;
  width: 90%;
  max-width: 700px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  overflow: hidden; }
  .hcContainer h1, .hcContainer input[type="button"] {
    margin: 0;
    border: 0;
    font-size: 1.5em;
    text-align: center;
    color: snow;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: normal;
    padding: 0.8em; }
  .hcContainer h1 {
    background: slategrey;
    cursor: default;
    user-select: none; }

.hcContentContainer {
  padding: 0 25px; }
  .hcContentContainer h2, .hcContentContainer h3 {
    margin: 0.3em 0;
    position: relative;
    font-weight: normal;
    user-select: none;
    cursor: default; }
  .hcContentContainer h2 {
    border-top: 1px solid lightgrey;
    padding-top: 12px;
    margin-bottom: 0em;
    cursor: pointer; }
    .hcContentContainer h2 + div {
      height: 0;
      width: 100%;
      overflow: hidden;
      transition: 0.2s; }
    .hcContentContainer h2 > span.headerArrow {
      float: left;
      margin-right: 5px;
      color: slategrey;
      transition: 0.1s; }
  .hcContentContainer .headerExpanded + div {
    height: 520px; }
  .hcContentContainer .headerExpanded > span.headerArrow {
    transform: rotate(90deg); }

.hcSectionContainer {
  margin-top: 20px; }
  .hcSectionContainer + hr {
    margin: 30px 0;
    border: none;
    border-top: medium double lightgrey; }

.hcFilters {
  margin-left: 10px;
  display: inline-block;
  float: right; }
  .hcFilters label {
    height: 27px;
    width: 27px;
    line-height: 27px;
    margin: 0 2px;
    text-align: center;
    color: snow;
    background: lightgrey;
    border-radius: 50%;
    display: inline-block;
    user-select: none;
    cursor: pointer;
    position: relative;
    transition: 0.1s all; }
  .hcFilters input[type="checkbox"] {
    display: none; }
  .hcFilters input[type="checkbox"] + span {
    text-transform: uppercase;
    font-size: 0.55em;
    position: absolute;
    width: 100%;
    left: 0; }
  .hcFilters .filterSelected {
    background: #ed143d; }

.hcInputs {
  margin-bottom: 10px; }
  .hcInputs .hcInputWrapper {
    height: 30px;
    width: 100%;
    margin-bottom: 5px; }
    .hcInputs .hcInputWrapper i {
      padding: 3px 0;
      width: 5%;
      height: 100%;
      text-align: left;
      float: left;
      user-select: none;
      cursor: default; }
    .hcInputs .hcInputWrapper input[type="text"] {
      width: 95%;
      height: 100%;
      border: 1px solid lightgrey;
      padding: 5px;
      outline: none;
      float: left; }
      .hcInputs .hcInputWrapper input[type="text"].blankInput {
        background: rgba(237, 20, 61, 0.3); }

#hcSubmit {
  margin-top: 30px;
  width: 100%;
  background: #ed143d;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.1s all; }
  #hcSubmit:hover {
    background: #ad0728; }

#htmlOutput {
  width: 100%;
  max-width: 100%;
  border: none;
  display: none;
  min-height: 0px;
  transition: min-height 0.5s; }
  #htmlOutput.outputExpanded {
    display: block;
    min-height: 400px; }

/*# sourceMappingURL=app.css.map */
